
body{
  background-color: black;
  color:#03A062;
  font-family: 'VT323', monospace;
  font-size: 75%;
  text-align: center;
}

/* code for heading */
h1{
  font-size: 75px;
}
@media screen and (max-width: 1024px) {
  h1{
    font-size: 130px;
  }
}


#container {
    width: 700px;
    margin: 0 auto;
  }
  .chat-input {
    width: 300px;
    height: 35px;
    /* //border: solid 1px #444; */
    
  }
  .chat-submit {
    width: 50px;
    height: 35px;
    border: solid 1px #444;
  }
  .chat-window {
    height: 300px;
    width: 400px;
  }
  #chatSection {
    /* float: left; */
    /* border: 1px grey solid; */
    border-radius: 10px;
    padding: 10px;
    /* margin-left:35%; */
    position: relative;
    display:flex;
    justify-content: center;
    

  }
  @media screen and (max-width: 1024px) {
    #chatSection {
      height:1300px;
    }
    #username-box{
      height:100px;
      width:600px;
      font-size:40px;
    }
    #chat-box{
      height:100px;
      width:900px;
      font-size:40px;
    }

    #submit-button{
      height:100px;
      width:200px;
      font-size:40px;
    }


  }
  /* @media screen and (max-width: 970px) {
    #chatSection {
      height:600px;
    }
    #username-box{
      height:70px;
      width:480px;
      font-size:32px;
    }
    #chat-box{
      height:70px;
      width:900px;
      font-size:40px;
    }

    #submit-button{
      height:100px;
      width:200px;
      font-size:40px;
    }
  } */
  
.chat-form{
  position: absolute;
    bottom: 0;

}

#username-box{
  
  background-color: #03A062;
}

#chat-box{
  background-color: #03A062;
  
}

#submit-button{
  background-color:#03A062;
  color: black;
  font-family: 'VT323', monospace;
}

::placeholder{
  color:black;
  font-family: 'VT323', monospace;
}